rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{file} {
      allow read;
      allow write: if request.resource.size < 1 * 1024 * 1024
                   && request.resource.contentType.matches('image/jpeg');
    }
  }
}
